<main>
    <div class="container">
        <div class="input-group input-group-lg mb-3 mt-3">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Benutzername" 
                aria-label="Benutzername" 
                [(ngModel)]="name"
                >
        </div>
        <div class="input-group input-group-lg mb-3 mt-3">
            <input 
                type="password" 
                class="form-control" 
                placeholder="Passwort" 
                aria-label="Passwort" 
                [(ngModel)]="password"
                (keyup.enter)="login()"
                >
        </div>
        <div class="input-group input-group-lg mb-3 mt-3">
                <button 
                    class="btn btn-outline-secondary" 
                    type="submit" 
                    id="button-addon" 
                    (click)="login()"
                    >Einloggen</button>
        </div>
    </div>
</main>