<main class="container overflow-auto" style="margin-bottom:5rem">
    <div class="card mt-3" 
         *ngFor="let message of messages" 
         [ngClass]="authService.getUserId()==message.user.id?'text-white bg-dark':''"
         >
        <div class="card-body">
            <h5 class="card-title">{{message.user.name}}</h5>
            <p class="card-text">{{message.content}}</p>
        </div>
        <div class="card-footer text-muted">
            {{message.updated_at |timeAgo}}
        </div>
    </div>
</main>
<footer class="footer fixed-bottom">
    <div class="container">
        <div class="input-group input-group-lg mb-3">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Nachricht" 
                aria-label="Nachricht" 
                [(ngModel)]="newMessage"
                (keyup.enter)="sendMessage()"
                >
            <div class="input-group-append">
                <button 
                    class="btn btn-outline-secondary" 
                    type="submit" 
                    id="button-addon" 
                    (click)="sendMessage()"
                    >Abschicken</button>
            </div>
        </div>
    </div>
</footer>